nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: gray;
}

nav ul {
    display: flex;
    list-style: none;
    text-decoration: none;
    gap: 150px;
    font-size: 18px;
}

