body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: linear-gradient(rgb(59, 192, 54), rgb(229, 229, 128));
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}

h1 {
    font-size: 80px;
}

h2 {
    font-size: 40px;
}

#author {
    font-size: 20px;
    font-weight: 600;
}

button {
    padding: 20px 50px;
    background-color: #2d7610;
    border: none;
    border-radius: 25px;
    color: whitesmoke;
    cursor: pointer;
}

button:hover {
    background-color: whitesmoke;
    color: #2d7610;
    transform: scale(1.1);
    box-shadow: 3px 3px 3px grey;
}

.quoteContainer {
    padding-top: 100px;
}